body, .ui.button {
  font-family: 'Open Sans';
}

.page {
  margin-top: 0;
}

h1:first-child {
  margin-top: 3em;
}

.main {
  height: 600px;
}

.input {
  width: 500px;
}

.ui.grid .ui.top.segment.column {
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.ui.grid .ui.bottom.segment.column {
  padding-top: 1em;
  padding-bottom: 1em;
}

.ui.secondary.inverted.menu .active.item {
  background:rgba(255,255,255,0.2);
}

.ui.secondary.inverted.menu .link.item, .ui.secondary.inverted.menu a.item {
  font-size: 15px;
}

.ui .divider {
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#toggleSettings {
  cursor: pointer;
}