.ui.loading.form
  .sixteen.wide.field
    .ui.error.message
      i.close.icon
      .header Lỗi
      p Giới hạn không thể nhỏ hơn 1!

  .four.fields
    .field
      label Chủ đề
      .ui.selection.dropdown
        input(type='hidden', name='topic')#topic
        .default.text Chủ đề
        i.dropdown.icon
        .menu
          if filters != null
            each topic in filters.topics
              .item(data-value=topic)
                = topic
    .field
      label Bài spam
      .ui.selection.dropdown
        input(type='hidden', name='spam')#spam
        .default.text Bài spam
        i.dropdown.icon
        .menu
          if filters != null
            each value in filters.spam
              .item(data-value=value)
                = value
    .field
      label Đánh giá
      .ui.selection.dropdown
        input(type='hidden', name='sentiment')#sentiment
        .default.text Đánh giá
        i.dropdown.icon
        .menu
          if filters != null
            each sentiment in filters.sentiments
              .item(data-value=sentiment)
                = sentiment
    .field
      label Giới hạn
      .ui.input
        input(type='number', value='50', min='1', placeholder='50')#limit

  .twelve.fields
    .six.wide.field
      label Từ ngày
      div(style='position:relative')
        input(type='text', data-value= filters ? filters.min_date : '').datepicker#startDate

    .six.wide.field
      label Đến ngày
      div(style='position:relative')
        input(type='text', data-value= filters ? filters.max_date : '').datepicker#endDate

  .ui.facebook.button#btnRun Tìm