.ui.loading.form
  .three.fields
    .field
      label Chủ đề
      .ui.selection.dropdown
        input(type='hidden', name='topic')#topic
        .default.text Chủ đề
        i.dropdown.icon
        .menu
          if filters != null
            each topic in filters.topics
              .item(data-value=topic)
                = topic
    .field
      label Lọc spam
      .ui.selection.dropdown
        input(type='hidden', name='spam')#spam
        .default.text Lọc spam
        i.dropdown.icon
        .menu
          if filters != null
            each value in filters.spam
              .item(data-value=value)
                = value
    .field
      label Đánh giá
      .ui.selection.dropdown
        input(type='hidden', name='sentiment')#sentiment
        .default.text Đánh giá
        i.dropdown.icon
        .menu
          if filters != null
            each sentiment in filters.sentiments
              .item(data-value=sentiment)
                = sentiment
  .twelve.fields
    .six.wide.field
      label Từ ngày
      div(style='position:relative')
        input(type='text', data-value= filters ? filters.min_date : '').datepicker#startDate

    .six.wide.field
      label Đến ngày
      div(style='position:relative')
        input(type='text', data-value= filters ? filters.max_date : '').datepicker#endDate

  .ui.facebook.button#btnRun Tìm