doctype
html
  head
    title awesomeFb
    link(rel='stylesheet', href='/vendors/semantic-ui/css/semantic.css')
    link(rel='stylesheet', href='/vendors/open-sans/open-sans.css')
    link(rel='stylesheet', href='/vendors/roboto-condensed/roboto-condensed.css')
    link(rel='stylesheet', href='/vendors/pickadate/themes/classic.css')
    link(rel='stylesheet', href='/vendors/pickadate/themes/classic.date.css')
    link(rel='stylesheet', href='/vendors/pickadate/themes/classic.time.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    .ui.grid.page
      .ui.centered.column
        header
          .ui.segment
            h1 awesomeFb

        .ui.segment
          h2.ui.dividing.header Bộ lọc
          #filters
            include filters
        
        .ui.segment
          h2.ui.dividing.header Kết quả
          #results
            include results

    script(src='/vendors/jquery/jquery-2.1.4.js')
    script(src='/vendors/semantic-ui/js/semantic.js')
    script(src='/vendors/pickadate/picker.js')
    script(src='/vendors/pickadate/picker.date.js')
    script(src='/vendors/pickadate/picker.time.js')
    script(src='/vendors/pickadate/translations/vi_VN.js')
    script(src='/js/main.js')